* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.tile {
  display: grid;
  flex: 1 1 630px;
  position: relative;
  z-index: 0;
}

.tile__image {
    width: 100%;
    grid-row: 1;
    grid-column: 1;

}

.tile__logo {
  min-width: 50px;
  width: 5%;
  height: auto;
  margin-right: 2.5%;
}

.tile__name {
  font-size: 2rem;
  font-weight: bold;
}

.tile__name-container {
  display: flex;
  width: 100%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  grid-row: 1;
  grid-column: 1;
  align-self: end;
  position: sticky;
  bottom: 0;
  color: white;
}

.tile__outer-container {
  display: flex;
  padding-left: 0;
  background: black;
  margin: 0;
  flex-flow: wrap;
  justify-content: space-around;
  list-style: none;
}